/* 
// 1. General
*/


a {
    text-decoration: none !important;
    outline: none;
}
body {
    font-family: $font-primary;
    color: $dark;
    background: #141414;
    font-size: 15px;
    overflow-x: hidden;
}
p {
    line-height: 1.8;
}

.btn-sign-in{
    background-color: $warning;
    border: none;
    outline: none;
    color: $white;
}

.btn-log-in{
    background-color: $muted;
    border: none;
    outline: none;
    color: $dark;
    margin-left: 8px;
}
@media screen and (max-width:700px){
.btn-log-in{
    margin-top:10px;
     margin-left: 0;
}
}

