<!-- Service Start -->
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-light">What We <span class="text-warning">Offer</span></h3>
                    <!-- <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-key service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">Secure Storage</h5>
                    <p class="text-muted service-subtitle mb-4"> We Value customer privacy; extra care is taken to secure records. Offline storage provides safety against loss and theft.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-users service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">Customer service</h5>
                    <p class="text-muted service-subtitle mb-4">24/7 customer care and support.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-display1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">Automated platform</h5>
                    <p class="text-muted service-subtitle mb-4">Upgraded software that enhances instant delivery of service.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-graph2 service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">A better user interface</h5>
                    <p class="text-muted service-subtitle mb-4">A user friendly platform, user interaction made easy.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-cash service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">Exchange services</h5>
                    <p class="text-muted service-subtitle mb-4">Our exchange rates are the best, Instant payment, and transaction process.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-graph1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-light font-weight-normal pt-1 mb-4">Dynamic Growth</h5>
                    <p class="text-muted service-subtitle mb-4">We are here to break the market!</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Service End -->