<!-- About us Start -->
<section class="section bg-light" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="mt-5 mt-lg-0">
          <img
            src="assets/images/logo.png"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
      </div>
      <div class="col-lg-6 col-md-8">
        <div class="title mb-5">
          <h3 class="font-weight-normal text-dark">
            About <span class="text-warning">Us</span>
          </h3>
          <p class="text-muted">
            Mooning Asset is the fastest evolving Cryptocurrency mining
            platform. Where old and new investors invest their cryptocurrencies
            for daily profit returns. Our core value is simplicity and
            Transparency. We strive constantly to make day to day trading easy;
            our platform is user friendly, and we guarantee instant services. We
            also want to assure users that we are constantly expanding our
            product offering to include all financial needs under this same
            platform.<br /> Mooning Asset provides the best possible experience for
            all its users, we provide an open environment, users are provided
            with all necessary payment information no hidden fees or charges. We
            keep it simple here always on the edge to give our users the best.
          </p>
        </div>
      </div>
    </div>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-7 offset-md-1">
        <div class="row">
          <div class="col-md-6">
            <h6 class="text-warning font-weight-light f-20 mb-3">
              Welcome to the Moon.
            </h6>
            <p class="text-dark font-weight-light">
              Get Started with 3 easy steps:
            </p>
            <ul class="text-muted font-weight-light">
              <li>Create account.</li>
              <li>Link your account.</li>
              <li>Start buying and selling.</li>
            </ul>
          </div>
          <!-- <div class="col-md-6">
            <h6 class="text-dark font-weight-light f-20 mb-3">Our Vision</h6>
            <p class="text-muted font-weight-light">
              Temporibus autem quibusdam et aut officiis debitis that aut rerum
              necessitatibus saepe eveniet ut et voluptates repudiandae sint et
              molestiae non recusandae at Itaque earum rerum hic tenetur
              sapiente.
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About us End -->
